[submodule "dependencies/CASE-Implementation-Template-Python-CLI"]
	path = dependencies/CASE-Implementation-Template-Python-CLI
	url = https://github.com/casework/CASE-Implementation-Template-Python-CLI.git
	branch = main
[submodule "dependencies/CASE-Utilities-Python"]
	path = dependencies/CASE-Utilities-Python
	url = https://github.com/casework/CASE-Utilities-Python.git
	branch = main
[submodule "dependencies/casework.github.io"]
	path = dependencies/casework.github.io
	url = https://github.com/casework/casework.github.io.git
	branch = master
[submodule "dependencies/cdo.github.io"]
	path = dependencies/cdo.github.io
	url = https://github.com/Cyber-Domain-Ontology/cdo.github.io.git
	branch = main
