[submodule "dependencies/CASE-Graphics"]
	path = dependencies/CASE-Graphics
	url = https://github.com/casework/CASE-Graphics.git
	branch = main
[submodule "dependencies/CASE-Implementation-PROV-O"]
	path = dependencies/CASE-Implementation-PROV-O
	url = https://github.com/casework/CASE-Implementation-PROV-O.git
	branch = main
[submodule "dependencies/CASE-Implementation-Template-Python-CLI"]
	path = dependencies/CASE-Implementation-Template-Python-CLI
	url = https://github.com/casework/CASE-Implementation-Template-Python-CLI.git
	branch = main
[submodule "dependencies/CASE-Mapping-Python"]
	path = dependencies/CASE-Mapping-Python
	url = https://github.com/casework/CASE-Mapping-Python.git
	branch = main
[submodule "dependencies/CASE-Mapping-Template-Stubs"]
	path = dependencies/CASE-Mapping-Template-Stubs
	url = https://github.com/casework/CASE-Mapping-Template-Stubs.git
	branch = main
[submodule "dependencies/CASE-Utilities-Python"]
	path = dependencies/CASE-Utilities-Python
	url = https://github.com/casework/CASE-Utilities-Python.git
	branch = main
[submodule "dependencies/CDO-Utility-Local-UUID"]
	path = dependencies/CDO-Utility-Local-UUID
	url = https://github.com/Cyber-Domain-Ontology/CDO-Utility-Local-UUID.git
	branch = main
[submodule "dependencies/casework.github.io"]
	path = dependencies/casework.github.io
	url = https://github.com/casework/casework.github.io.git
	branch = master
[submodule "dependencies/cdo.github.io"]
	path = dependencies/cdo.github.io
	url = https://github.com/Cyber-Domain-Ontology/cdo.github.io.git
	branch = main
[submodule "dependencies/rdf-toolkit-action"]
	path = dependencies/rdf-toolkit-action
	url = https://github.com/casework/rdf-toolkit-action.git
	branch = main
